body{
    margin: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.QAZ img {
    width: 1vh;
    margin: 3vh;
    width: 40vh;
    border-radius: 8%;
}



.social-media .button a {
    display: inline-block;
    width: 36vh;
    height: 50px;
    line-height: 50px;
    margin: 8px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.CONHECER.ASSINATURA {
    background-color: NONE;
    border: 2PX solid #00e1ff;
}

.CONHECER.ASSINATURA:hover {
    background-color: #0498ac;
}

.PAGAMENTOS {
    background-color: NONE;
    border: 2PX solid #00e1ff;
}

.PAGAMENTOS:hover {
    background-color: #0498ac;
}

.SUPORTE {
    background-color: rgb(4, 23, 58);
}

.SUPORTE:hover {
    background-color: #0498ac;
}